@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

$colors: (
  light: #fff,
  primary: #7f95d1,
);

body {
  background-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

section.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.71) 97.66%),
    url(../assets/bg-hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: map-get($map: $colors, $key: light);

  .socials {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;

    .item {
      padding: 1rem;
    }

    .fb {
      background-color: #1877f2;
    }

    .insta {
      background-color: #c32aa3;
    }

    .git {
      background-color: #6cc644;
    }

    .linkedin {
      background-color: #0077b5;
    }
  }

  .pic {
    border: 6px solid map-get($map: $colors, $key: primary);
    height: 200px;
    width: 200px;
    border-radius: 100px;

    img {
      border-radius: 90px;
    }
  }

  .name {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;

    @media screen and (max-width: 1024px) {
      font-size: 1.8rem;
    }
  }

  .btn-container {
    display: flex;
    margin-top: 2rem;

    .btn {
      text-decoration: none;
      padding: 1rem 2rem;
      border: none;
      font-size: 1.2rem;

      background-color: map-get($map: $colors, $key: primary);
      border-radius: 5px;

      &.flat {
        background-color: inherit;
        color: map-get($map: $colors, $key: primary);
      }
    }
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 6rem;
  animation-name: animate-scroll;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
}

@keyframes animate-scroll {
  to {
    transform: translateY(10px);
  }
}

section.work {
  padding-top: 2rem;
  min-height: 100vh;
  background: url(../assets/bg-work.jpg);
  background-size: cover;
  color: map-get($map: $colors, $key: light);

  .section-head {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
  }

  .projects {
    // min-height: 100vh;
    margin: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "img img text"
      "img img text";
    grid-gap: 10px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "text";
    }

    .tech {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;

      span {
        font-size: 1rem;
        background-color: map-get($map: $colors, $key: primary);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }

    .img-container img {
      width: 90%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    .img-container {
      grid-area: img;
    }

    .text-container {
      grid-area: text;
      font-size: 1.5rem;
      width: 70%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      h2 {
        font-size: 2rem;
        font-weight: 100;
      }

      p {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        line-height: calc(1.8rem + 20px);
      }

      .btn-container {
        display: flex;
        margin-top: 1rem;
        a {
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          padding: 0.5rem 1rem;

          img {
            margin-left: 0.5rem;
            height: 16px;
            width: 16px;
          }

          &.live {
            background-color: map-get($map: $colors, $key: primary);

            border-radius: 5px;
          }

          &.code {
            color: map-get($map: $colors, $key: primary);
          }
        }
      }
    }
  }
}
